@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

html {
	box-sizing 				: border-box;
	font-family 			: 'Source Sans Pro', sans-serif;
	font-size 				: 16px;
	color 					: #0D0D0D;
}

*, *:before, *:after {
	box-sizing 				: inherit;
}

body {
	padding 				: 10px;
}

header, main, .wrapper {
	width 					: 1000px;
	margin 					: auto;
}

.wrapper-half {
	width 					: 500px;
}

.wrapper-quarter {
	width 					: 250px;
}

h1, h2, h3, h5, h6 {
	margin 					: 10px 0px;
	font-weight 			: 600;
}

/********************
 * Alignment
 *******************/
.align-abs-center {
	position 				: absolute;
	left 					: 50% !important;
	top 					: 50% !important;
	transform 				: translate(-50%, -50%);
}

.align-abs-centerX {
	position 				: absolute;
	left 					: 50% !important;
	transform 				: translateX(-50%);
}

.align-center {
	margin 					: auto;
}

.align-left {
	float 					: left;
}

.align-left:after {
	clear 					: both;
}

.align-right {
	float 					: right;
}

.align-right:after {
	clear 					: both;
}

/********************
 * Grid
 *******************/
.grid > .row {
	display 				: flex;
	justify-content 		: space-between;
}

.grid .row > div {
	flex 					: 1;
	margin 					: 5px;
	padding 				: 10px;
}

.grid .row > div.v-center {	
	display 				: flex;
  	flex-direction 			: column;
  	justify-content 		: space-around;
}

.grid .row > div._25 {
	flex 					: 2.5;
}

.grid .row > div._50 {
	flex 					: 5;
}

.grid .row > div._75 {
	flex 					: 7.5;
}

/********************
 * Buttons
 *******************/
button, input[type=button], input[type=submit], .btn {
	display 				: inline-block;
	margin 					: 10px 0px;
	padding 				: 6px 12px;
	vertical-align 			: middle;
	border 					: 1px solid #B6B6B6;
	border-radius 			: 3px;
	background 				: #FFF;
	font-size 				: 0.8rem;
	color 					: inherit;
	text-decoration 		: none;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, .btn:hover {
	cursor 					: pointer;
	background 				: #DCDCDC;
}

/********************
 * Forms
 *******************/
.input-group {
	margin-bottom 			: 10px;
	font-size 				: 0.8rem;
}

.input-group label[for] {
	font-weight 			: bold;
}

.input-group .control {
	display 				: block;
	margin-top 				: 5px;
	padding 				: 6px 12px;
	width 					: 100%;
	border 					: 1px solid #B6B6B6;
	color 					: inherit;
}

.input-group label .control:focus {
	border-color 			: #0080ff;
	box-shadow 				: 0px 0px 5px -5px #4da6ff;
}

form.inline .input-group {
	display 				: inline-block;
}

form.inline .input-group .control {
	display 				: inline-block;
	width 					: auto;
}

form.no-labels label[for] {
	display 				: none;
}

form.grid .input-group {
	vertical-align 			: middle;
	margin-bottom 			: 0px;
}

form.grid .input-group:first-child {
	text-align 				: right;
}

form.grid .input-group > div {
	padding 				: 5px;
}

/********************
 * Navigation
 *******************/
nav {
	margin 					: -18px -18px 15px;
	padding 				: 20px 23px;
	background 				: #F3F3F3;
}

nav > ul { 
	display 				: inline;
}

nav > ul > li {
	display 				: inline;
	list-style-type 		: none;
	padding 				: 19px 11px;
}

nav > ul > li:hover {
	border-bottom 			: 1px solid #B1B1B1;
}

nav > ul > li.active {
	border-bottom 			: 1px solid #808080;
}

nav li a {
	padding 				: inherit;
	color 					: inherit;
	text-decoration 		: none;
}

/********************
 * Tables
 *******************/
table {
	width 					: 100%;
	font-size 				: inherit;
	border-spacing 			: 0px;
	border-collapse 		: collapse;
}

table.stripes tr:nth-child(even) td {
	background 				: #DCDCDC;
}

table.borders, table.borders th, table.borders td {
	border 					: 1px solid #D5D5D5;
}

table td, table th {
	padding 				: 8px;
}

table th {
	text-align 				: left;
	border-bottom 			: 2px solid #d5d5d5;
}

table td {
	border-top 				: 1px solid #D5D5D5;
}

/********************
 * Responsive
 *******************/
@media(max-width: 400px) {
	.grid row {
		display 			: block;
	}
}

/********************
 * Statuses
 *******************/
.success, .success-hover {
	background 				: #00b300;
	border-color 			: #008000;
	color 					: #FFF;
}

.success-hover:hover {
	background 				: #009a00;
}

.text-success {
	color 					: #00b300;
}

.critical, .critical-hover {
	background 				: #b30000;
	border-color 			: #800000;
	color 					: #FFF;
}

.critical-hover:hover {
	background 				: #9a0000;
}

.text-critical {
	color 					: #b30000;
}

.info, .info-hover {
	background 				: #005ab3;
	border-color 			: #004080;
	color 					: #FFF;
}

.info-hover:hover {
	background 				: #004d9a;
}

.text-info {
	color 					: #005ab3;
}